# Apache Airflow Configuration

[core]
executor = LocalExecutor
sql_alchemy_conn = postgresql+psycopg2://airflow:airflow@postgres:5432/airflow
load_examples = False
dags_are_paused_at_creation = True
dags_folder = /opt/airflow/dags

[webserver]
base_url = http://localhost:8080
web_server_host = 0.0.0.0
web_server_port = 8080
authenticate = True
auth_backend = airflow.api.auth.backend.basic_auth

[email]
email_backend = airflow.utils.email.send_email_smtp

[smtp]
smtp_host = localhost
smtp_starttls = True
smtp_ssl = False
smtp_user = airflow
smtp_password = airflow
smtp_port = 587
smtp_mail_from = airflow@indicagri.stream

[scheduler]
job_heartbeat_sec = 1
scheduler_heartbeat_sec = 5
run_duration = -1
